<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" colors="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
    <php>
        <const name="APP_ENV" value="phpunit" force="true"/>
        <env name="APP_ENV" value="phpunit" force="true"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
